.marketplace-page {
    display: flex;
    flex-direction: column;
    align-items: center; /* Căn giữa theo chiều ngang */
<<<<<<< HEAD
    
  }
  
=======
}



>>>>>>> 8c86d9ae2cd85622f4768b7c9338b9a03f6bc534
